<% if (authError) { %>
	<p><%= authError %></p>
<% } %>
<div class="form-container">
	<form
		action="/post"
		method="POST"
		data-he-link="false"
	>
		<div class="user">
			<input type="text" name="username" placeholder="login" tabindex="1">
		</div>
		<div class="password">
			<input type="password" name="password" placeholder="password" tabindex="2" autocorrect="off" required>
		</div>
		<div class="password">
			<input type="password" name="password2" placeholder="password" tabindex="3" autocorrect="off" required>
		</div>

		<input type="submit" class="btn-top" value="Login">
	</form>
</div>