<div class="form-container">
	<img src="/public/logo.png" class="logo" alt="Logo Chimera" />
	<form action="/login<% if (is_modal) print('?h_diversion=modal') %>" method="POST">
		<h1>Welcome to Chimera! 👋</h1>

		<% if (authError) { %>
			<p class="auth-error"><%= authError %></p>
		<% } %>

		<div class="user">
			<label for="username">Username</label>
			<input autofocus type="text" name="username" id="username">
		</div>
		<div class="password">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" autocorrect="off" required>
		</div>
		<div class="remember">
			<label>
				<input checked type="checkbox" name="remember">
				<span><%= __('Remember me for the next 30 days') %></span>
			</label>
		</div>
		<input type="submit" class="btn-top" value="Log in">
	</form>
</div>