<% expands(store('acl-view-setting').main_layout) %>

<% asset.style('aclbase', {block: 'head'}) %>

<% start(store('acl-view-setting').content_block) %>
	<h1>You are not authorized to view this page</h1>
<% end(store('acl-view-setting').content_block) %>