<% expands('layouts/' + store('acl-view-setting').bodylayout) %>

<% start(store('acl-view-setting').mainblock) %>
<div class="container">
	<h1>You are not authorized to view this page</h1>
</div>
<% end(store('acl-view-setting').mainblock) %>