<% expands(store('acl-view-setting').bodylayout) %>

<% start(store('acl-view-setting').mainblock) %>
<div class="container">
	<% assign(store('acl-view-setting').contentblock) %>
</div>
<% end(store('acl-view-setting').mainblock) %>