<% expands(store('acl-view-setting').body_layout) %>

<% start(store('acl-view-setting').main_block) %>
<div class="container">
	<% assign(store('acl-view-setting').content_block) %>
</div>
<% end(store('acl-view-setting').main_block) %>